.header {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 28px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav h1 {
    color: rgb(34, 32, 46);
    font-size: 24px;
    font-weight: 400;
}

.nav a {
    text-decoration: none;
}

.navList {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 44px;
    justify-content: center;
    margin-top: 20px;
}

.navList a {
    text-decoration: none;
    color: rgb(114, 110, 141);
    font-size: 16px;
    font-weight: 400;
}